<div class="row justify-content-center">
    <div class="col-md-8">
    
        <%= form_with(model: recipe, local: true) do |f| %>
            <%= render 'layouts/error_messages' ,model: f.object %>
        
            <div class="form-group">
                <%= f.label :title,"カクテル名" %>
                <%= f.text_field :title, class:"form-control" %>
            </div>
            
            <div class="form-group">
                <%= f.label :base,"ベーススピリッツ" %>
                <%= f.select :base, Recipe.bases.keys.map{|k|[I18n.t("enum.recipe.base.#{k}"), k]}, {},class:"form-control"%>
            </div>
            
            <div class="form-group">
                <%= f.label :technique,"製法" %>
                <%= f.select :technique, Recipe.techniques.keys.map{|k|[I18n.t("enum.recipe.technique.#{k}"), k]},{}, class:"form-control" %>
            </div>
            
            <div class="form-group">
                <%= f.label :body ,"作り方:材料や手順、こだわりポイントなどを入力してください。"%>
                <%= f.text_area :body, size:"20x5",class:"form-control"  %>
            </div>
                
            <div class="form-group">
                <%= f.label :iamge,"画像"%>
                <%= f.attachment_field :image, class:"form-control-file"  %>
            </div>
            
            <%= f.submit "Submit",class:"btn btn-primary"%>
        <% end %>
    </div>
</div>