<div class="row">
    <% recipes.each do |recipe| %>
        <div class="col">
            <div class="card shadow-sm mb-5" style="width: 14rem;">
                <%= link_to recipe_path(recipe) do %>
                    <%= attachment_image_tag recipe ,:image, class:"card-image-top rounded-top"%>
                <% end%>
                <div class="card-body">
                    <%= link_to recipe_path(recipe) do %>
                        <h3 class="card-title text-dark"><%= recipe.title %></h3>
                    <% end%>
                </div>
                <% if user_signed_in? %>
                <% if recipe.user.id == current_user.id %>
                    <ul class="list-group list-group-flush"> 
                        <li class="list-group-item"><%= link_to "Edit",edit_recipe_path(recipe) ,class:"card-link"%></li>
                        <li class="list-group-item"><%= link_to "Delete",recipe_path(recipe), method: :delte, data:{confirm:"削除します。よろしいですか？"},class:"card-link" %></li>
                    </ul>
                    <% end %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>