<div class="row justify-content-md-center">
        <div class="card col-md-8">
            <% if @recipe.image.attached? %>
                <%= image_tag @recipe.image, class:"card-image-top w-100 h-auto"%>
            <% end %>
            <div class="card-body">
                <h1 class="card-title "><%= @recipe.title %></h1>
                
                <div class="row justify-content-end">
                    <% if user_signed_in? %>
                        <% if @recipe.user.id == current_user.id %>
                            <%= link_to "Edit",edit_recipe_path(@recipe) ,class:"btn btn-success btn-sm"%>
                            <%= link_to "Delete",recipe_path(@recipe), method: :delte, data:{confirm:"削除します。よろしいですか？"},class:"btn btn-danger btn-sm" %>
                        <% end %>
                    <% end %>
                </div>
                
                <div class="row ">
                    <div class="col align-self-start">
                        <p>投稿者：<%= link_to @recipe.user.username, user_path(@recipe.user.id)%><span class="text-muted"> | </span>
                        投稿日：<%= @recipe.created_at.strftime("%Y-%m-%d") %></p>
                    </div>
                </div>
                
                <h5 class="card-text">レシピ</h5>
                <hr class="mt-1">
                <p>ベース：<%= @recipe.base %></p>
                <p>製法：<%= @recipe.technique %></p>
                <p class="card-text"><%= simple_format @recipe.body %></p>
        </div>
                
<!--posts（レシピに対するコメント）を表示する-->

        <div  class="card-body">
            <%= render 'posts/post_form', post:@post ,recipe:@recipe %>
        </div>
        
        <% if @posts %>
            <% @posts.each do |post| %>
                <div class="card-body">
                    <div class="row justify-content-start">
                            <b>>><%= post.comment_number %></b>
                        <div class="col">
                            <% if post.user.profile_image.attached? %>
                                <%= image_tag post.user.profile_image ,fallback:"tender.png",size:"30x30"%>
                            <% end %>
                            <%= post.user.username%>
                            <%= post.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %>
                        </div>
                    </div>
                    <div>
                        <p><%= simple_format post.content %></p>
                    </div>
                </div>
            <% end %>
        <% else %>
            <div class="card-body">
                <p>まだコメントはありません。最初のコメントを書きましょう！</p>
            </div>
        <% end %>
        </div>
</div>


